{% extends "./base.html.twig" %}

{% block body%}

    {% if app.user %}
        <div class="flex gap-4 justify-end mt-8 px-16">
            <a href="/article/create" class="mx-2 w-1/4 uppercase border border-zinc-700 border-2 bg-white text-zinc-700 text-center py-4 px-10 text-lg font-medium transition duration-300 transition-all hover:bg-zinc-700 hover:text-white">
                Create new article
            </a>
        </div>
    {% endif %}

    {% if articles is not empty %}
        <div class="grid grid-cols-3 p-4 pb-12">
            {% for article in articles %}
                <div class="group bg-white w-4/5 mx-auto my-6 p-8 shadow-xl transition duration-300 transition-all hover:bg-zinc-700 hover:text-white">

                    <h1 class="text-4xl font-bold text-center">
                        {{ article.title }}
                    </h1>

                    <img class="shadow-lg pt-8" src="{{ article.imageSrc }}"/>

                    <div class="py-8 text-center">
                        <div class="inline-block sm:pt-1">
                            <h2 class="font-medium">
                                By <span class="italic">{{ article.username }}&nbsp&nbsp<span class="not-italic">|</span>&nbsp&nbsp{{ article.creationDate }} </span>
                            </h2>

                            <p class="text-sm text-zinc-500 transition duration-300 transition-all group-hover:text-zinc-100">
                                {{ article.duration }} min. read
                            </p>
                        </div>
                    </div>

                    <p class="text-md pb-8 text-justify">
                        {{ article.description }}
                    </p>

                    <a href="/article/show/{{ article.id }}" class="block text-center font-medium w-fill bg-zinc-700 text-white uppercase text-lg p-4 transition duration-300 transition-all group-hover:bg-white group-hover:text-zinc-700">
                        Read
                    </a>

                    <p class="text-right pt-6 text-sm text-zinc-500 transition duration-300 group-hover:text-zinc-100" href="/">
                        {% set commentNumber = 0 %}
                        {% for comment in comments %} 
                            {% if comment.article == article %}
                                {% set commentNumber = commentNumber + 1 %}
                            {% endif %}
                        {% endfor %}
                        Comments: {{ commentNumber }}
                    </p>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="h-full w-full grid place-items-center">
                <h1 class="text-3xl">
                    Oops! Unfortunately there are no articles in this category
                </h1>
        </div>
    {% endif %}
    
{% endblock %}
