<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home | Articles.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>

    <div class="flex flex-col h-screen justify-between">
        <header class="bg-zinc-700 h-16 text-white shadow-md fixed inset-x-0 top-0">
            {% block header %}
                <div class="h-full flex justify-between">

                    <a href = "/" class="font-bold ml-12 text-2xl my-auto">
                        Articles.com
                    </a>

                    <div class="underline flex flex-rows justify-start gap-12 my-auto">
                        {% for category in categories %}
                            <a
                                href="/category/{{ category.title|lower }}"
                                class="h-full">
                                    {{ category.title|upper }}
                            </a>
                        {% endfor %}
                    </div>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/category/create" class="p-2 border border-dashed border-2 border-bg-zinc-300 my-auto">
                            NEW CATEGORY
                        </a><div></div>
                    {% endif %}
                    
                    <div class="my-auto mr-12 flex justify-between gap-12 text-lg font-medium">
                        <a href = "/{{ app.user ? 'logout' : 'login' }}" class="my-auto ">
                            {{ app.user ? 'LOGOUT' : 'LOGIN' }}
                        </a>  

                        <a href="/{{ app.user ? 'profile' : 'register' }}" class="my-auto">
                            {% if app.user %}
                                WELCOME, {{ app.user.username|upper }}
                            {% else %}
                                REGISTER
                            {% endif %}
                        </a> 
                    </div>
                                          
                </div>
            {% endblock %}
        </header>
        <body class="bg-zinc-200 text-zinc-800 pt-16 h-full">
            {% block body %}{% endblock %}
        </body>
        <footer class="text-center text-white p-4 bg-zinc-500">
            <a href="mailto:raman.makarewicz@gmail.com">
                2022 Raman Makarevich&nbsp&nbsp|&nbsp&nbspAkademia Pomorska
            </a>
        </footer>
    </div>
</html>